<!DOCTYPE html>
<html>
<head>
    <title>My Account</title>
</head>
<body>
    {% if subscribed %}
        <button class="unsubscribe">Unsubscribe</button>
    {% else %}
        <button class="subscribe">Subscribe</button>
    {% endif %}
    <a href="./purchase-history"><button class="button">Purchase history</button></a>
    <a href="./my-cards"><button class="button">My Cards</button></a>
    <button onclick="logout()"> Logout </button>
    
    <script>
        function logout(){
            window.location.href = ('./logout');
        }
    </script>
</body>
</html>