<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>    
    {% for product in products %}
        {% for data in product['item'] %}
            <div  class ="products" id = "{{ data[1] }}">
                <div class="prodthumb"><img src="{{ data[4] }}"></div>
                <div class="productname">{{ data[0] }}</div>
                <div class="costproduct" id="cost{{ data[1] }}">${{ data[3] }}</div>
                <div class ="productcategory">in {{ data[2] }}</div>

                <button onclick="subtractCart('{{ data[1] }}')">-</button>
                <div id="count{{data[1]}}">{{product['count']}}</div>
                <button onclick="addToCart('{{ data[1] }}')">+</button>
                <button onclick="removeFromCart('{{ data[1] }}')">Remove from cart</button>
            </div>
        {% endfor %}
    {% endfor %}
    <div id="totalcost">{{ cost }}</div>
    <form action="./checkout" method="POST" name="address"> 
        <div id="error"></div>
        <textarea type="text" name ="address" id="address"></textarea><br>
        <button type="button" class="button" onclick="validate()">Checkout</button>
    </form>
    <script>

        function validate(){
            if(document.getElementById("address").value.length > 0){
                var cost = document.createElement('input');
                cost.setAttribute('type', 'text');
                cost.setAttribute('name', 'totalcost');
                cost.setAttribute('value', '{{ cost }}');
                document.address.appendChild(cost);
                document.address.submit();
            }else{
                document.getElementById("error").innerHTML = "Enter an address";
                return;
            }            
        }
        
        function addToCart(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "./addtocart/"+id, true);
            xhttp.send();
            var countDiv = document.getElementById("count"+id);
            var count = Number(countDiv.innerHTML)+1;
            countDiv.innerHTML=count;

            var totalCostDiv = document.getElementById('totalcost');
            var totalCost = Number(totalCostDiv.innerHTML);

            costDiv = document.getElementById('cost'+id);
            cost = Number((costDiv.innerHTML).slice(1));
            totalCostDiv.innerHTML = totalCost + cost;

        }
        function subtractCart(id){
            var countDiv = document.getElementById("count"+id);
            var count = Number(countDiv.innerHTML);
            if(count <= 1)
                return;

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "./subtractcart/"+id, true);
            xhttp.send();
            
            countDiv.innerHTML=count-1;

            var totalCostDiv = document.getElementById('totalcost');
            var totalCost = Number(totalCostDiv.innerHTML);

            costDiv = document.getElementById('cost'+id);
            cost = Number((costDiv.innerHTML).slice(1));
            totalCostDiv.innerHTML = totalCost - cost;
        }
        function removeFromCart(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "./removefromcart/"+id, true);
            xhttp.send();
            
            var countDiv = document.getElementById("count"+id);
            var count = Number(countDiv.innerHTML);
            console.log(count);

            var totalCostDiv = document.getElementById('totalcost');
            var totalCost = Number(totalCostDiv.innerHTML);
            console.log(totalCost);

            costDiv = document.getElementById('cost'+id);
            cost = Number((costDiv.innerHTML).slice(1));

            console.log(cost);
            console.log(totalCost - cost*count);

            totalCostDiv.innerHTML = totalCost - cost*count;
            
            document.getElementById(id).innerHTML="";
        }
        
    </script>
</body>
</html>