<!DOCTYPE html>
<html>
    <head><title>Skillsme Assignment</title></head>
    <body>
        <form name="searchform" action="search" method="GET">
            <input class="searchbox" type="text" name="q">
            <button type="button" class="searchbutton" onclick="search()">Search</button>
        </form>
        <br>
        <div class="accountdata">
            {% if userSignedIn %}
                <button onclick="logout()"> Logout </button>
                <a href="./account"><button class="button">Account</button></a>
            {% else %}
                <button onclick="signIn()"> Sign In </button>
                <button onclick="signUp()"> Sign Up </button>
            {% endif %}
        </div>
        <br>
        <a href="./cart"><button class="cartbutton">Cart</button></a>
        <div class="categorycontainer">
            {% for v in categories %}
                <td><button class="categorybutton" value="{{ v[0] }}" onclick="redirect(this)">{{ v[0] }}</button></td>
            {% endfor %}
        </div>
        {% for data in products %}
            <div  class ="products">
                <div class="prodthumb"><img src="{{ data[4] }}"></div>
                <div class="productname" id="{{ data[1] }}">{{ data[0] }}</div>
                <div class="costproduct">${{ data[3] }}</div>
                <button onclick="addToCart('{{ data[1] }}')">Add to cart</button>
            </div>
        {% endfor %}
        <script>
            function redirect(category){
                window.location.replace('./?category='+category.value);
            }
            function signIn(){
                window.open('./signin');
            }
            function signUp(){
                window.open('./signup');
            }
            function addToCart(id){
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "./addtocart/"+id, true);
                xhttp.send();
            }
            function logout(){
                window.location.href = ('./logout');
            }
            function search(){
                var query = document.getElementsByName("q")[0];
                if(query==null|| query.length==0){
                    return;
                }
                document.searchform.submit();
            }
        </script>
    </body>
</html>